/* ================= GOOGLE-FONT ==============*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,400;1,800&family=Roboto:wght@400;500&display=swap');

/*================= VARIABLES CSS =============*/
:root {
    --header-height: 3.5rem;

    /*============== colors ===================*/
    /*= Color mode HSL(hue, saturation, lightness */
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: hsl(207, 4%, 95%);
    --active-color: #FF3131;
    --background-color:linear-gradient(to bottom, #fff, rgb(243, 240, 240));
    --box-shadow:8px 8px 20px rgba(0,0,0,0.7);
    --card-background: hsl(207, 4%, 95%);
    --scroll-up-background: #FF3131;
    
    

    /* === Change the first number ====*/
    /* Blue 207 - Purple: 250 - Pink:356 - Teal: 174 */

    --gradient-color: linear-gradient(180deg, hsla(207, 48%, 72%, 0), hsla(207, 65%, 65%, 1));

    /* ============== Font and typography ============*/
    /* .5rem = 8px | 1rem = 16px .....*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /* =========== Font-weight ============*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ============= z-index =============*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;


    /*================== RESUME-COLOR-&-FONT-STYLES ====================*/
    --font-header-height: 3rem;

    /*============== colors ===================*/
    /*= Color mode # */
    --resume-title-color: #0B0A0A;
    --resume-text-color: #403A3A;
    --resume-text-color-light: #707070;
    --resume-body-color: #FCFCFC;
    --resume-container-color: #FAFAFA;
    --resume-container-color-alt: #F0EFEF;

    /*=============== MARGENES ============*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }
}

/* ============== BASE ============= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
    background: rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
    background: #FF3131;
    border-radius: 25px;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .4s;
    /* For dark mode animation */
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* ============== REUSABLE CSS CLASSES ======================== */

.container {
    max-width: 1350px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2.5rem;
}

.section__border {
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}

.About__container,
.Skills__container,
.Project__container,
.Services__container,
.Qualification__container{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.About__container,
.Skills__container{
    position: relative;
}
.about__container::after{
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid var(--text-color-light);
}
.skills__container .background-img{
    position: absolute;
    top: 0;
    left: -5px;
    width: 100%;
    max-width: 220px;
}
@media screen and (max-width:800px) {
    .skills__container .background-img{
        top: 35%;
        z-index: -1;
    }
}
.about__right-box h1 span,
.skill__left-box h1 span,
.project__container h1 span,
.services__container h1 span,
.Qualification__container h1 span,
.Contact__container header h2 span{
    color: var(--title-color);
}
.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin: .25rem;
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 3rem;
}

.main {
    overflow: hidden;
    /* For animation */
    background: var(--background-color);
}


/* ============== THEME ============ */
.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}


/* ============ Variable Dark Them ================*/
body.dark-theme{
    --title-color: hsl(207, 4%, 95%);
    --text-color: hsl(207, 4%, 65%);
    --body-color: hsl(207, 4%, 10%);
    --container-color: hsl(207, 4%, 12%);
    --background-color: linear-gradient(to bottom, hsl(207, 4%, 10%), hsl(207, 4%, 12%));
    --box-shadow:0 4px 12px hsl(207, 24%, 35%, .5);
    --card-background: rgba(255,255,255,0.1);
    --card-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    --scroll-up-background: rgba(255,255,255,0.1);
}

/* .dark-theme  */





/* ============ HEADER & NAV ==============*/

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    padding: 0 15px;
}

.nav {
    height: calc(var(--header-height) + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding-inline: 1.3rem;
    border-radius: 3rem;
    transition: background .4s;
    /* For dark mode animation */
    width: 100%;
}

.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.window_size-logo {
    display: none;
}

.nav__logo {
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

.nav__logo img {
    width: 40px;
    height: 40px;
}

.nav__toggle {
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width:1023px) {
    .nav__menu {
        max-width: 500px;
        position: fixed;
        width: 88%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
        padding: 2rem 1.5rem 5rem;
        border-radius: 2rem;
        transition: bottom .3s;
        bottom: -60%;
    }
}

.nav__list {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 2rem 3rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--title-color);
    transition: color .3s;
    cursor: pointer;
}

.nav__link:hover {
    color: var(--active-color);
}

.nav__link i {
    font-size: 1.25rem;
}

.nav__close {
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Show menu */
.show-menu {
    bottom: 1rem;
}

.nav__button {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}


/* Active link */
.active-link {
    color: var(--active-color);
}


/* ============ HOME ==============*/

.home___container {
    padding: 2rem 2rem 0 2rem;
    display: flex;
}

.home__left-box,
.home__right-box {
    width: 50%;
}

.home__left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.home__right-box {
    display: grid;
    place-items: center;
}

.home__right-box img {
    width: 100%;
    max-width: 500px;
}

.home__line {
    background: var(--title-color);
    width: 30px;
    height: .2rem;
}

.founder_name {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
}

.home__title {
    color: var(--active-color);
    font-family: var(--body-font);
    font-size: 4rem;
    font-weight: var(--font-semi-bold);

}

.home__info-title {
    font-family: var(--body-font);
    color: var(--text-color-light);
    font-weight: 400;
    font-size: var(--h2-font-size);
    text-align: justify;
}

.home__buttons {
    display: flex;
    gap: 20px;
}

.home__buttons button {
    border: none;
    outline: none;
    padding: 13px 23px;
    font-size: var(--h3-font-size);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: var(--box-shadow);
}
.home__buttons button a{
    color: var(--body-color);
}
.home__buttons button:nth-child(1) {
    background-color: var(--active-color);
}

.home__buttons button:nth-child(2) {
    background-color: var(--title-color);
}
.dark-theme .home__buttons button:nth-child(2){
    color: #000;
}

.home__buttons button:active {
    scale: .9;
}

/* =========================================== */
/* ========== RESPONSIVE HOME ============== */
/* ============================================ */
@media screen and (max-width: 980px) {
    .home___container {
        flex-direction: column;
        align-items: center;
        padding-top: 3.5rem;
    }

    .home__left-box,
    .home__right-box {
        width: 100%;
    }

    .home__right-box img {
        max-width: 600px;
    }

    .founder_name {
        color: var(--title-color);
        font-size: var(--h2-font-size);
        font-family: var(--title-font);
    }

    .home__title {
        color: var(--active-color);
        font-family: var(--body-font);
        font-size: 10vw;
        font-weight: var(--font-semi-bold);

    }

    .home__info-title {
        font-family: var(--body-font);
        color: var(--text-color-light);
        font-weight: 400;
        font-size: vw;
        margin-bottom: 1rem;
    }

    .home__buttons button {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    .home___container {
        padding: 3rem 0 0 0;
    }

    .home__buttons button {
        font-size: 3vw;
    }
}


/* ==================================================================
==================================================================*/
/*====================== ABOUT SECTION ======================*/
.about__container,
.skills__container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 0 2rem;
}



.about__left-box,
.about__right-box,
.skill__left-box,
.skill__right-box {
    width: 50%;
}

.about__left-box {
    display: grid;
    place-items: center;
    border-bottom: 10px solid #FF3131;
    border-left: 10px solid #FF3131;
    background: var(--text-color-light);
    border-radius: 6rem 0;
}

.about__left-box img {
    width: 100%;
    max-width: 450px;
}

.about__right-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    overflow: hidden;
}

.about__right-box h1,
.skill__left-box h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
    color: var(--active-color);
}

.about__right-box h3,
.skill__left-box p {
    font-family: var(--body-font);
    color: var(--text-color-light);
    font-weight: 400;
    font-size: var(--h3-font-size);
    text-align: justify;
}

.about__right-box ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about__right-box ul li {
    list-style: none;
}

.about__right-box ul i {
    font-size: var(--h1-font-size);
    color: var(--text-color-light);
    cursor: pointer;
    transition: all .3s ease;
}
.about__right-box ul i:hover{
    color: var(--title-color);
}

.about__right-box button{
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 32%;
    height: 3rem;
    box-shadow: var(--box-shadow);
    background-color: var(--active-color);
    position: relative;
}

.about__right-box button a{
    color: #fff;
    font-size: var(--h3-font-size);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__right-box button:active {
    scale: .9;
}

.about__right-box button span {
    display: grid;
    place-items: center;
    z-index: -1;
}

.about__right-box button:hover span {
    transform: translateX(10px);
    transition: .3s ease;
    z-index: 1;
}

@media screen and (max-width:480px) {
    .about__container {
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding: 0 0;
    }

    .skills__container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 0 0;
    }
}

@media screen and (max-width: 800px) {

    .about__container,
    .skills__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .about__left-box,
    .about__right-box,
    .skill__left-box,
    .skill__right-box {
        width: 100%;
    }

    .about__right-box button {
        font-size: vw;
        padding: 10px 5px;
    }

    .skills__container {
        gap: 2rem;
    }

}



/* ==================================================================
==================================================================*/
/*====================== SKILLS SECTION ======================*/

/* .Skills__container {
    border: 1px solid var(--body-color);
} */

.skill__left-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.skill__left-box h3 {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--title-color);
}

.skill__left-box h3 span {
    color: var(--active-color);

}

.skill__tab ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    gap: 10px;
}

.skill__tab ul li,
.skill__tab ul i {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.skill__tab ul li {
    font-family: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    transition: all .3s ease;
}

.skill__tab ul li:hover {
    color: var(--active-color);
}

.skill__tab ul li.active {
    color: var(--active-color);
}

.skill__tab ul span {
    margin-left: 10px;
    color: var(--title-color);
}

.skill__right-box .skills__name.hide {
    display: none;
}

.skill__right-box {
    height: 50vh;
}

.skill__right-box ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    place-items: center;
    max-width: 450px;
    margin: 0 auto;

}

.skill__right-box li {
    background: var(--card-background);
    display: grid;
    place-items: center;
    width: 85px;
    height: 110px;
    border-radius: 40px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    box-shadow: var(--card-shadow);
}

.skill__right-box li img {
    width: 50px;
}

.skill__box {
    display: grid;
    place-items: center;
    gap: 10px;
}

.skill__name {
    display: grid;
    place-items: center;
    gap: 5px;
}

.title {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.subTitle {
    color: var(--text-color-light);
    font-family: var(--body-font);
    font-size: var(--small-font-size);

}



@media screen and (max-width: 420px) {
    .skill__right-box li {
        width: 80px;
        height: 100px;
        border-radius: 40px;
    }

    .skill__right-box li img {
        width: 38px;
    }

    .skill__right-box ul {
        gap: 25px;
    }

    .skills__container {
        gap:8px;
    }

   
    .About__container,
    .Services__container,
    .Qualification__container{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .Skills__container{
        padding-top: 3rem;

    }
    .Project__container {
        padding-bottom: 2rem;
    }

    .skill__tab ul{
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .skill__tab ul li {
        font-size: var(--small-font-size);
    }
    .skill__tab ul li{
        display: grid;
        place-items: center;
    }
    .skill__tab ul li span{
        display: none;
    }

}

/*====================== PORTFOLIO ======================*/
.Project__container{
    background-color: #FF3131;
    width: 100%;
}
.project__container{
    width: 95%;
    margin: 0 auto;
}
.project__container h1{
    text-align: center;
    color: var(--body-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
    text-transform: uppercase;
}
.project__container h2{
    text-align: center;
    color: var(--body-color);
    font-size: var(--h3-font-size);
    font-weight: 500;
    font-family: var(--body-font);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.project__buttons button{
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    color: #000;
    border-radius: 5px;
    box-shadow: 8px 8px 20px rgba(0,0,0,0.7);
    padding: 10px 15px;
    font-weight: 500;
    transition: all .3s ease;
}
.project__buttons button:hover,
.project__buttons button.active{
    background: #000;
    color: #fff;
}
.project__main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.project__main.hide-project{
    display: none;
}
.project__card{
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
}
.project__card img{
    width: 100%;
    transition: all .3s ease;
}

.cover_icon{
    position: absolute;
    left: 0;
    width: 100%;
    height: 99%;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,0.7);
    top: -100%;
    transition: top .3s ease;
}
.cover_icon i{
    cursor: pointer;
    color: #fff;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}
.project__card:hover .cover_icon{
    top: 0;
}

@media screen and (max-width:800px) {
    .project__main{
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2rem;
    }
    
}
@media screen and (max-width:420px) {
    .project__main{
        grid-template-columns: repeat(2, 1fr);
        gap: .8rem;
        margin-top: 1rem;
    }

    
}



/*====================== SERVICES ======================*/


.services__container h1{
    font-size: var(--h1-font-size);
    color: var(--active-color);
    font-weight: var(--font-semi-bold);
    text-align: center;
    font-family: var(--title-font);
}

.services_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.services_box .services_card{
    max-width: 300px;
    height: 270px;
    padding: 20px;
    /* background: var(--container-color); */
    background: var(--card-background);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    row-gap: 1rem;
    flex-direction: column;
    box-shadow: var(--card-background);
    cursor: pointer;
}
.services_card img{
    width: 50px;
}
.services_card h2{
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.services_card p{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    font-weight: 400;
    text-align: justify;
}



/*====================== QUALIFICATION ======================*/
.Qualification__container h1{
    text-align: center;
    color: var(--active-color);
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
}
.section__subtitle{
    margin-top: 1rem;
}
.qualification__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}
.qualification__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
@media screen and (max-width:680px) {
    .qualification__container{
        flex-direction: column;
    }
    .qualification__content{
        width: 100%;
    }
}
.qualification__info{
    display: grid;
    row-gap: 2rem;
}
.qualification__container{
    row-gap: 3.5rem;
}

.qualification__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;

}

.qualification__title i{
    font-size: 1rem;
    font-weight: initial;
}

.qualification__country,
.qualification__year{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.qualification__country{
    margin-bottom: .75rem;
}
.qualification__name{
    margin-bottom: 1rem;
}



/*====================== FOOTER ======================*/
.Footer__container{
    background: rgba(0,0,0,0.8);
}
.top__box{
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top__center-box ul,
.top__right-box ul{

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.top__box h1{
    color: #fff;
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
}
.top__box h3{
    font-family: var(--body-font);
    color: var(--text-color-light);
    font-size: var(--normal-font-size);
    text-align: center;
    letter-spacing: 2px;
    margin-top: 5px;
}

.top__center-box a{
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    font-family: var(--body-font);
    letter-spacing: 1px;
    transition: all .3s ease;
    position: relative;
}
.top__center-box a::after{
    content: '';
    height: 2px;
    width: 100%;
    color: #fff;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.5s;
    /* transition-timing-function:ease-in-out; */
    transform:scaleX(0);
}
.top__center-box a:hover::after{
    transform: scaleX(1);
}

.top__right-box ul a{
    font-size: var(--h2-font-size);
    color: #fff;
}

.top__right-box ul li:nth-child(1) i:hover {
    color: #000;
}

.top__right-box ul li:nth-child(2) i:hover {
    color: blue;
}

.top__right-box ul li:nth-child(3) i:hover {
    color: rgb(214, 41, 118);
}

.top__right-box ul li:nth-child(4) i:hover {
    color: #FF3131;
}

.bottom__box{
    display: grid;
    place-items: center;
}

.bottom__box span{
    text-align: center;
    color: #fff;
}

@media screen and (max-width:1023px) {
    .bottom__box{
        padding-bottom:3.5rem ;
    }
}
@media screen and (max-width:750px){
    .top__box{
        flex-direction: column;
        row-gap: 1.5rem;
    }
}



/*====================== Contact Form ======================*/
.Contact__container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 11111;
    background: rgba(0,0,0,0.5);
}

.contact__container{
    background-color: var(--body-color);  
    row-gap: 3.5rem; 
    border-radius: 7px;
    padding: 20px;
    width: 70%;
    height: 95%;
    justify-content: space-between;
    margin: 0 auto;
}

@media  screen and (max-width:1022px) {
    .contact__container{
        width: 90%;
    }
}
@media  screen and (max-width:720px) {
    .contact__container{
        width: 95%;
    }
}
@media  screen and (max-width:620px) {
    .contact_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        width: 100%;
        height: 86%;
        overflow: auto;
        display: grid;
        padding: 20px 0 20px 0;
    }

}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

header .header_title h2{
    color: var(--active-color);
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
}
header .header_title p{
    text-align: center;
}

header .contactbuttons{
    background-color: rgba(0,0,0,0.5);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
header .contactbuttons i{
    color: #fff;
}

.contact_info{
    display: flex;
    justify-content: space-evenly;
}
.contact__content{
    width: 100%;
    padding: 0 20px;
}
.contact__content-middle{
  display: flex;
  align-items: center;
}
.middle__line{
    width: 3px;
    height: 25vh;
    color: red;
    background-color: red;
    border-radius: 35px;
}

.contact__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.contact__title i{
    font-size: 1rem;
    font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form{
    display: grid;
}

.contact__info{
    row-gap: 2rem;
}

.contact__data{
    row-gap: .75rem;
}

.contact__data-title{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__data-info{
    font-size: var(--small-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
}

.contact__button{
    width: max-content;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.contact__button i{
    font-size: 1rem;
    transition: transform .3s;
}

.contact__button:hover i{
    transform: translateX(.25rem);
}

.contact__form{
    position: relative;
    row-gap: 2rem;
}

.contact__form-div{
    position: relative;
    height: 4rem;
}

.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
    background: none;
    outline: none;
    z-index: 1;
}

.contact__form-tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    z-index: 10;
    background-color: var(--body-color);
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    padding: .35rem;
    transition: background .4s ; /* For dark mode animation */
}

.contact__form-area{
    height: 6rem;
}

.contact__form-area textarea{
    resize: none;
}

.contact__form .contact__button{
    border: 1px solid var(--title-color);
    background: none;
    font-size: var(--h4-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    outline: none;
    padding: 10px 45px;
    border-radius: 7px;
    transition: .5s ease;
    color: var(--body-color);
    background-color: var(--title-color);
}
.contact__form .contact__button:hover{
    border-radius: 35px;
}

/* .contact__form .contact__button i{
    font-size: 1.5rem;
    font-weight: initial;
} */

.contact__message{
    font-size: var(--small-font-size);
    position: absolute;
    bottom: 2.8rem;
    left: 1.5rem;
}

/* Social Icons */
.Contact__container ul{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
.social__icons h3{
    font-size: .8rem;
    font-weight: 600;
    color: var(--title-color);
}
.social__icons li{
    margin-left: 10px;
}
.social__icons li a:hover{
    color: var(--title-color);
}

.social__icons li,
.social__icons li a{
    font-size: var(--h2-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS FOR ERROR AND SUCCESS MESSAGE ON CONTACT PAGE */

/* Status color */
.color-red{
    color: hsl(4, 71%, 50%);
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    text-align: right;
}

.color-bule{
    color: hsl(207, 56%, 45%);
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    text-align: right;
}
/*END*/

/*cancle btn*/
.contactbuttons{
    color: #868686;
}

.Contact__container{
    display: none;
}


.contact-active,
.contact-active .Contact__container {
    display: flex;
    animation: fade 0.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ==================================================================
==================================================================
==================================================================
==================================================================
================================================================== */



/*====================== BREAKPOINTS ======================*/
/* For small device */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: .5rem;
    }

    .nav__menu {
        padding-bottom: 4rem;
    }

    .nav__list {
        gap: 1rem 1.25rem;
    }

}

/* For medium device */
@media screen and (min-width: 576px) {

    .nav,
    .nav__menu {
        width: 380px;
    }

    .nav {
        margin: 0 auto;
    }
}

/* For large device */
@media screen and (min-width: 1023px) {
    .nav__logo img {
        width: 60px;
        height: 60px;
    }

    .window_size-logo {
        display: block;
    }

    .mobile_size-logo {
        display: none;
    }

    .header {
        position: absolute;
        top: 0;
        bottom: initial;
        background-color: var(--body-color);
        transition: .4s;
    }

    .nav {
        width: initial;
        height: calc(var(--header-height) + 2rem);
        box-shadow: none;
        border-radius: 0;
        column-gap: 3rem;
        margin-inline: 1.5rem;
        padding: 0;
    }

    .nav__link i,
    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__menu {
        width: 100%;
        margin-left: auto;
        background-color: var(--body-color);
        transition: background .4s;
    }

    .nav__list {
        display: flex;
        column-gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    .nav__link {
        font-size: var(--normal-font-size);
        font-weight: 500;
    }

    .dark-theme .nav,
    .dark-theme .nav__menu {
        background-color: var(--body-color);
        box-shadow: none;
    }

    .change-theme {
        color: var(--text-color-light);
    }

    .change-theme:hover {
        color: var(--title-color);
    }

    .scrollup {
        right: 2rem;
    }

    .show-scroll {
        bottom: 3rem;
    }

    /* Change background header */
    .bg-header {
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    }

    .dark-theme .bg-header {
        box-shadow: 0 6px 24px hsl(207, 24%, 8%, .6);
    }


    /* RESPONSIVE HOME */
    .home___container {
        padding-top: 7rem;
    }

    .home__right-box img {
        max-width: 600px;
    }
}

@media screen and (min-width: 1048px) {
    .container {
        margin-inline: auto;
    }

}

.scrollup{
    background: var(--scroll-up-background);
    position: fixed;
    bottom: -30%;
    right: 20px;
    z-index: 999;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    transition: bottom .3s, transform .3s;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    box-shadow: var(--card-shadow);
}
.scrollup i{
    font-size: var(--h3-font-size);
    color: #fff;
}
.scrollup.show-scroll{
    bottom: 2rem;
}

@media screen and (max-width:1023px) {
    .scrollup{
        display: none;
    }
}


#preloader{
    background: var(--body-color);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
    color: #fff;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#preloader img{
    width: 100px;
}
/* ========================================================== */
/* ===================== PORTFOLIO PAGE ===================== */
/* ========================================================== */

.lightBox{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    /* display: none; */
    transition: transform 0.5s ease;
}
.lightBox.show-lightBox{
    display: block;
}
.lightBox .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1170px;
    padding: 20px 20px 50px 20px;
    background: var(--body-color);
    border-radius: 5px ;
}

.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
header .logo-img img{
    width: 40px;
    height: 40px;
}
.wrapper .buttons{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    background: var(--card-background);
    box-shadow: var(--card-shadow);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
}

.preview-img{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.wrapper .preview-img .img{
    width: 100%;
    max-width: 550px;
    display: grid;
    place-items: center;
}
.wrapper .preview-img .img img{
    width: 100%;
    max-width: 440px;
}


.video-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 550px;
}



.project span{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: 600;
    text-transform: uppercase;
}
.video-container iframe{
    width: 100%;
}
.discription{
    font-size: var(--normal-font-size);
    font-weight: 400;
    font-family: var(--body-font);
    color: var(--text-color-light);
}
.view-project{
    margin-top: 10px;
}
.view-project a{
    background-color: var(--active-color);
    color: #fff;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: var(--body-font);
}


@media (max-width:1500px){
    .lightBox .wrapper{
        max-width: 973px;
    }
    .wrapper .preview-img .img{
        width: 100%;
        max-width: 450px;
    }
    .wrapper .preview-img .img img{
        max-width: 100%;
        /* max-width: 400px; */
    }
    .video-container{
        width: 100%;
        max-width: 450px;
    }
    .video-container iframe{
        /* height: 100%; */
        max-height: 250px;
    }
}
@media (max-width:1170px){
    .preview-img{
        gap: 10px;
    }
    .lightBox .wrapper{
        width: 100%;
        max-width: 700px;
        padding: 20px 20px 50px 20px;
        background: var(--body-color);
        border-radius: 5px ;
    }
    .wrapper .preview-img .img{
        width: 100%;
        max-width: 300px;
        display: grid;
        place-items: center;
    }
    .wrapper .preview-img .img img{
        max-width: 100%;
    }
    .video-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 350px;
    }
    .project span{
        font-size: 1.2rem;
    }
    .video-container iframe{
        height: 100%;
        max-height: 200px;
    }
    .discription{
        font-size: .8rem;
    }
    .view-project a{
        padding: 10px 25px;
        font-size: 1rem;
    }
}

@media (max-width:700px){
    .lightBox .wrapper{
        width: 100%;
        max-width: 390px;
        padding: 20px 20px 50px 20px;
        border-radius: 5px ;
    }
    .preview-img{
        gap: 10px;
    }
    .wrapper .preview-img .img img{
        width: 100%;
        max-width: 95%;
    }
    .video-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 350px;
    }
    .project span{
        font-size: 1rem;
    }
    .video-container iframe{
        height: 100%;
        max-height: 200px;
    }
    .discription{
        font-size: .7rem;
    }
    .view-project a{
        padding: 10px 20px;
        font-size: .8rem;
    }
}

